
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>

        <div id="app">
            <report :reports="reports"></report>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
