
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% if not session.logged_in %}
            <a href="/login"><b>Login</b></a>
        {% else %}
            <a href="/logout"><b>Logout</b></a><br><br>
        {% endif %}
        
        <b>Organization: </b>{{ org_name }}<br>
        <b>To: </b>{{ to }}<br><br>

        {% if service_name == 'VNuwakot' %}
            <table border="2">
                <tr>
                    <th>S.No.</th>
                    <th>From</th>
                    <th>DateTime</th>
                    <th>Call Description</th>
                    <th>Comment</th>
                    <th>Status</th>
                </tr>
                {% for items in output %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ items.0 }}</td>
                        <td>{{ items.1 }}</td> 
                        <td>
                            {% if items.2['vboard']['vboard1'] and items.2['vboard']['vboard2'] and items.2['vsurvey']['status'] %}
                                Listened to both audios <br> Took Survey <br>
                                VDC: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['vdc_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                                Emergency or Eye: {% if items.2['vsurvey']['emergency_or_eye'] == '1' %}
                                                    Emergency 
                                                  {% else %}
                                                    Eye
                                                  {% endif %} <br>
                                Message: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['msg_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                            {% elif items.2['vboard']['vboard1'] and items.2['vsurvey']['status'] %}
                                Listened to audio1 <br> Took Survey <br>
                                VDC:  
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['vdc_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                                Emergency or Eye: {% if items.2['vsurvey']['emergency_or_eye'] == '1' %}
                                                    Emergency 
                                                  {% else %}
                                                    Eye
                                                  {% endif %} <br>
                                Message: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['msg_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                            {% elif items.2['vboard']['vboard2'] and items.2['vsurvey']['status'] %}
                                Listened to audio2 <br> Took Survey <br> 
                                VDC: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['vdc_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                                Emergency or Eye: {% if items.2['vsurvey']['emergency_or_eye'] == '1' %}
                                                    Emergency 
                                                  {% else %}
                                                    Eye
                                                  {% endif %} <br>
                                Message: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['msg_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                            {% elif items.2['vboard']['vboard1'] and items.2['vboard']['vboard2'] and not items.2['vsurvey']['status'] %}
                                Listened to audio1 and audio2
                            {% elif items.2['vboard']['vboard1'] and not items.2['vsurvey']['status'] %}
                                Listened to audio1
                            {% elif items.2['vboard']['vboard2'] and not items.2['vsurvey']['status'] %}
                                Listened to audio2
                            {% elif not items.2['vboard']['vboard1'] and not items.2['vboard']['vboard2'] and items.2['vsurvey']['status'] %}
                                Took Survey <br> 
                                VDC: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['vdc_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                                Emergency or Eye: {% if items.2['vsurvey']['emergency_or_eye'] == '1' %}
                                                    Emergency 
                                                  {% else %}
                                                    Eye
                                                  {% endif %} <br>
                                Message: 
                                     <audio controls>
                                         <source src="{{ url_for('static', filename=items.2['vsurvey']['msg_audio'] + '.wav') }}" type="audio/mpeg">
                                     </audio>  <br><br>
                            {% endif %}
                        </td>
                        <td>
                            <form action="/pullreport?org_id={{ org_id }}&service={{ service_name }}&extension={{ to }}" method="post">
                                <input type="hidden" name="log_id" value="{{ items.3 }}">
                                <b>Comment:</b> <textarea cols="20" rows="5" name="comment"></textarea><br>
                                <input type="submit" value="Add Comment" name="commentform"> 
                            </form>
                            <h3>Previous Comments:</h3>
                            {% for item in items.4 %}
                                <li>{{ item.comment }}</li>
                            {% endfor %}
                        </td>
                        <td>
                           <form action="/pullreport?org_id={{ org_id }}&service={{ service_name }}&extension={{ to }}" method="post">
                               <input type="hidden" name="log_id" value="{{ items.3 }}">
                               <b>Status:</b> <br> 
                               <input type="radio" name="status" value="solved" 
                                            {% if items.5 == 'solved' %}
                                                checked
                                            {% endif %}
                                        > Solved<br>
                                    <input type="radio" name="status" value="unsolved" 
                                            {% if items.5 == 'unsolved' %}
                                                checked
                                            {% endif %}
                                        > Unsolved<br>
                              <input type="submit" value="Change Status" name="statusform"> 
                           </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table border="2">
                <tr>
                    <th>S.N.</th>
                    <th>From</th>
                    <th>DateTime</th>
                    <th>Call Description</th>
                </tr>
                {% for items in output %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ items.0 }}</td>
                        <td>{{ items.1 }}</td>
                        <td>
                            Playback Completed: {{ items.2['playbackCompleted'] }} <br>
                            {% if 'timesRepeated' in items.2 %}
                                Times Repeated: {{ items.2['timesRepeated'] }} 
                            {% elif 'recordedFileName' in items.2 %}
                                Recorded File:  
                                    <audio controls>
                                        <source src="{{ url_for('static', filename=items.2['recordedFileName'] + '.wav') }}" type="audio/mpeg">
                                    </audio>  <br><br>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
</html
